header {
    background-color: #d6ceb5;
    font-family: 'Nanum Pen Script', cursive;
    padding: 10px;
}

header div {
    padding: 10px;
}
.header_left {
    font-size: 30px;
    font-weight: bold;
    width: 30%;
    text-align: center;
}
.header_right {
    font-size: 20px;
}